In [48]:
import configparser
from datetime import datetime

In [49]:
import os
from pyspark.sql import SparkSession

In [50]:
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [51]:
config = configparser.ConfigParser()
config.read('dl.cfg')

['dl.cfg']

In [52]:
os.environ

environ({'PATH': '/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin', 'HOSTNAME': '2ebea1547433', 'STAR_ID': 'jupyterlab-eigozlwa', 'HOST_IP': '172.17.0.1', 'CONDA_DIR': '/opt/conda', 'DISPLAY': ':1', 'SHELL': '/bin/bash', 'LC_ALL': 'en_US.UTF-8', 'LANG': 'en_US.UTF-8', 'LANGUAGE': 'en_US.UTF-8', 'HOME': '/root', 'XDG_CACHE_HOME': '/root/.cache/', 'MINICONDA_VERSION': '4.6.14', 'SPARK_HOME': '/opt/spark-2.4.3-bin-hadoop2.7', 'PYTHONPATH': '/opt/spark-2.4.3-bin-hadoop2.7/python:/opt/spark-2.4.3-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip:', 'JPY_PARENT_PID': '1', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'AWS_ACCESS_KEY_ID': 'AKIAUM2CQDRGVOPUFNVX', 'AWS_SECRET_ACCESS_KEY': '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'})

In [53]:
os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']

In [54]:
os.environ

environ({'PATH': '/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin', 'HOSTNAME': '2ebea1547433', 'STAR_ID': 'jupyterlab-eigozlwa', 'HOST_IP': '172.17.0.1', 'CONDA_DIR': '/opt/conda', 'DISPLAY': ':1', 'SHELL': '/bin/bash', 'LC_ALL': 'en_US.UTF-8', 'LANG': 'en_US.UTF-8', 'LANGUAGE': 'en_US.UTF-8', 'HOME': '/root', 'XDG_CACHE_HOME': '/root/.cache/', 'MINICONDA_VERSION': '4.6.14', 'SPARK_HOME': '/opt/spark-2.4.3-bin-hadoop2.7', 'PYTHONPATH': '/opt/spark-2.4.3-bin-hadoop2.7/python:/opt/spark-2.4.3-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip:', 'JPY_PARENT_PID': '1', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'AWS_ACCESS_KEY_ID': 'AKIAUM2CQDRGVOPUFNVX', 'AWS_SECRET_ACCESS_KEY': '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'})

In [55]:
spark = SparkSession.builder\
                     .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                     .getOrCreate()

In [56]:
df = spark.read.json("s3a://udacity-dend/song_data/A/A/A/*.json")

In [57]:
df.printSchema()
df.show(15)

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARTC1LV1187B9A4858|        51.4536|Goldsmith's Colle...|        -0.01802|  The Bonzo Dog Band|301.40036|        1|SOAFBCP12A8C13CC7D|King Of Scurf (20...|1972|
|ARA23XO1187B9AF18F|       40.57885|Carteret, New Jersey|       -74.21956|     The Smithereens|  192.522|        1|SOKTJDS12AF72A25E5|Drown In My Own T...|   0|
|ARSVTNL1187B992A91|       51.50632|     London, England|        -0.12714|       Jonathan King|129.85424|        1|SOEKAZG12AB018837E|I'll Slap Your Fa...|2001|
|AR73AIO1187B9AD57B|       37.77916|   San Francisco, CA|      -122.42005|   Western Addiction|118.07302|        1|SOQPWCR12A6D4FB2A3|A Poor Recipe For...|2005|
|ARXQBR11187B98A2CC|           null|  Liverpool, England|            null|Frankie Goes To H...|821.05424|        1|SOBRKGM12A8C139EF6|Welcome to the Pl...|1985|
|ARSZ7L31187FB4E610|       39.74001|          Denver, CO|      -104.99226|           Devotchka|337.81506|        1|SORRNOC12AB017F52B|The Last Beat Of ...|2004|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARZ5H0P1187B98A1DD|       33.76672|      Long Beach, CA|       -118.1924|          Snoop Dogg|230.42567|        1|SOAPERH12A58A787DC|The One And Only ...|   0|
|AR1KTV21187B9ACD72|       34.05349|     California - LA|      -118.24532|            Cristina|343.87546|        1|SOSMJFC12A8C13DE0C|Is That All There...|   0|
|ARCLYBR1187FB53913|       37.54703|       San Mateo, CA|      -122.31483|          Neal Schon|304.56118|        1|SOOVHYF12A8C134892|     I'll Be Waiting|1989|
|ARBZIN01187FB362CC|        1.32026|                  27|       103.78871|        Paris Hilton|192.28689|        1|SOERIDA12A6D4F8506|I Want You (Album...|2006|
|AR5LMPY1187FB573FE|       41.88415|         Chicago, IL|       -87.63241|   Chaka Khan_ Rufus|258.89914|        1|SOABWAP12A8C13F82A|           Take Time|1978|
|ARY589G1187B9A9F4E|       45.51179|        Portland, OR|      -122.67563|         Talkdemonic|171.57179|        1|SOIGHOD12A8C13B5A1|        Indian Angel|2004|
|ARGE7G11187FB37E05|           null|        Brooklyn, NY|            null|        Cyndi Lauper|240.63955|        1|SONRWUU12AF72A4283|  Into The Nightlife|2008|
|ARMJAGH1187FB546F3|       35.14968|         Memphis, TN|       -90.04892|        The Box Tops|148.03546|        1|SOCIWDW12A8C13D406|           Soul Deep|1969|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 15 rows

In [58]:
songtable = df.select('song_id', col('title').alias('song_title'), 'artist_id', 'year', 'duration').distinct()

In [59]:
songtable.show(3)

+------------------+--------------------+------------------+----+---------+
|           song_id|          song_title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SODZYPO12A8C13A91E|Burn My Body (Alb...|AR1C2IX1187B99BF74|   0|177.99791|
|SOIGHOD12A8C13B5A1|        Indian Angel|ARY589G1187B9A9F4E|2004|171.57179|
|SOOVHYF12A8C134892|     I'll Be Waiting|ARCLYBR1187FB53913|1989|304.56118|
+------------------+--------------------+------------------+----+---------+
only showing top 3 rows

In [60]:
songtable.write.parquet("s3a://jubin-sparkify-datalake/" + "songs.parquet", mode="overwrite")

# Processibg Log Data

In [61]:
import  pyspark.sql.functions as F
import pandas as pd
from pyspark.sql import types as T
from pyspark.sql.functions import udf, col

In [62]:
df_log = spark.read.json("s3a://udacity-dend/log_data/*/*")

In [63]:
df_log.printSchema()
df_log.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|           song|status|           ts|           userAgent|userId|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|  Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
|       null|Logged In|    Wyatt|     M|            0|   Scott|     null| free|Eureka-Arcata-For...|   GET|    Home|1.540872073796E12|      563|           null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|
|       null|Logged In|   Austin|     M|            0| Rosales|     null| free|New York-Newark-J...|   GET|    Home|1.541059521796E12|      521|           null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+
only showing top 5 rows

In [64]:
df_log = df_log.filter(df_log.page == "NextSong")

In [15]:
df_log.show(5)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
|Sony Wonder|Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|
|  Van Halen|Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 5 rows

In [65]:
user_table =  df_log.select(col('userId').alias('user_id'), 'gender', 'level','firstName', 'lastName').distinct()

In [67]:
user_table.write.parquet("s3a://jubin-sparkify-datalake/" + "users.parquet", mode="overwrite")

In [68]:
user_table.show(5)

+-------+------+-----+----------+--------+
|user_id|gender|level| firstName|lastName|
+-------+------+-----+----------+--------+
|     29|     F| free|Jacqueline|   Lynch|
|     74|     M| free|    Braden|  Parker|
|     87|     M| free|    Dustin|     Lee|
|    100|     M| free|     Adler| Barrera|
|     24|     F| paid|     Layla| Griffin|
+-------+------+-----+----------+--------+
only showing top 5 rows

In [24]:

#df_time = df_log.withColumn("ts_timestamp", F.to_timestamp("ts"))

In [26]:
#.set_option('max_colwidth', 200)
#df_time.select('ts_timestamp').limit(5).toPandas()
#df_time.select('ts_timestamp').show(5, truncate=False)

+-----------------------+
|ts_timestamp           |
+-----------------------+
|50841-09-12 03:26:366.0|
|50841-09-19 17:23:166.0|
|50841-09-22 17:36:366.0|
|50842-01-24 16:03:166.0|
|50842-04-21 07:29:566.0|
+-----------------------+
only showing top 5 rows

In [69]:
df_log = df_log.withColumn(
        "ts_timestamp",
        F.to_timestamp(F.from_unixtime((col("ts") / 1000) , 'yyyy-MM-dd HH:mm:ss.SSS')).cast("Timestamp")
    )

In [70]:
df_log.select('ts_timestamp').show(5, truncate=False)

+-------------------+
|ts_timestamp       |
+-------------------+
|2018-11-15 00:30:26|
|2018-11-15 00:41:21|
|2018-11-15 00:45:41|
|2018-11-15 03:44:09|
|2018-11-15 05:48:55|
+-------------------+
only showing top 5 rows

In [71]:
df_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- ts_timestamp: timestamp (nullable = true)

In [72]:
#get weekday

def get_weekday(date):
    import datetime
    import calendar
    date = date.strftime("%m-%d-%Y")
    month, day, year = (int(x) for x in date.split('-'))
    weekday = datetime.date(year, month, day)
    return calendar.day_name[weekday.weekday()]

udf_week_day = udf(get_weekday, T.StringType())

In [73]:
df_weekday = df_log.withColumn('weekday', udf_week_day(col("ts_timestamp")))

In [74]:
df_weekday.select('ts_timestamp').show()

+-------------------+
|       ts_timestamp|
+-------------------+
|2018-11-15 00:30:26|
|2018-11-15 00:41:21|
|2018-11-15 00:45:41|
|2018-11-15 03:44:09|
|2018-11-15 05:48:55|
|2018-11-15 05:53:44|
|2018-11-15 05:55:56|
|2018-11-15 06:01:02|
|2018-11-15 06:07:37|
|2018-11-15 06:10:33|
|2018-11-15 06:13:54|
|2018-11-15 06:14:16|
|2018-11-15 06:17:59|
|2018-11-15 06:18:48|
|2018-11-15 06:21:33|
|2018-11-15 06:25:58|
|2018-11-15 06:29:38|
|2018-11-15 07:08:36|
|2018-11-15 07:12:09|
|2018-11-15 07:28:47|
+-------------------+
only showing top 20 rows

In [82]:
# extract columns to create the time table

time_table = df_log.withColumn("hour", hour(col("ts_timestamp"))).withColumn("day", hour(col("ts_timestamp"))).withColumn("week", weekofyear(col("ts_timestamp")))\
            .withColumn("weekday", udf_week_day(col("ts_timestamp")))\
            .withColumn("month", month(col("ts_timestamp"))).withColumn("year", year(col("ts_timestamp")))\
            .select(\
                col("ts_timestamp").alias("time"),\
                "hour", "day", "week", "weekday", "month", "year"\
)

In [83]:
time_table.show()

+-------------------+----+---+----+--------+-----+----+
|               time|hour|day|week| weekday|month|year|
+-------------------+----+---+----+--------+-----+----+
|2018-11-15 00:30:26|   0|  0|  46|Thursday|   11|2018|
|2018-11-15 00:41:21|   0|  0|  46|Thursday|   11|2018|
|2018-11-15 00:45:41|   0|  0|  46|Thursday|   11|2018|
|2018-11-15 03:44:09|   3|  3|  46|Thursday|   11|2018|
|2018-11-15 05:48:55|   5|  5|  46|Thursday|   11|2018|
|2018-11-15 05:53:44|   5|  5|  46|Thursday|   11|2018|
|2018-11-15 05:55:56|   5|  5|  46|Thursday|   11|2018|
|2018-11-15 06:01:02|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:07:37|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:10:33|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:13:54|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:14:16|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:17:59|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:18:48|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:21:33|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:25:58|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 06:29:38|   6|  6|  46|Thursday|   11|2018|
|2018-11-15 07:08:36|   7|  7|  46|Thursday|   11|2018|
|2018-11-15 07:12:09|   7|  7|  46|Thursday|   11|2018|
|2018-11-15 07:28:47|   7|  7|  46|Thursday|   11|2018|
+-------------------+----+---+----+--------+-----+----+
only showing top 20 rows

In [84]:
time_table.write.parquet("s3a://jubin-sparkify-datalake/" + "time.parquet", mode="overwrite")

In [86]:
# read song data for creating songplay table"
song_df= spark.read.parquet("s3a://jubin-sparkify-datalake/" + "songs.parquet")

In [87]:
song_df.printSchema()

root
 |-- song_id: string (nullable = true)
 |-- song_title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

In [91]:
#extracting column from songs and log table with a join condition t
songplay_table = df_log.withColumn("Songplay_Id", F.monotonically_increasing_id())\
                .join(song_df, song_df.song_title == df_log.song)\
                .select(\
                ('Songplay_Id'), col('userId').alias('user_id'), 'song_id', 'artist_id', 
                        col('sessionId').alias('session_id'),'level',\
                        "location", "userAgent"\
                        ,col("ts_timestamp").alias("start_time")
                       )

In [94]:
pd.set_option('max_colwidth', 200)
songplay_table.limit(5).toPandas()

,Songplay_Id,user_id,song_id,artist_id,session_id,level,location,userAgent,start_time
0,223,97,SOBLFFE12AF72AA5BA,ARJNIUY12298900C91,605,paid,"Lansing-East Lansing, MI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36""",2018-11-15 16:19:05

In [95]:
songplay_table.write.parquet("s3a://jubin-sparkify-datalake/" + "songplay.parquet", mode="overwrite")